@import './../assets/scss/bootstrap-variables';

.full-height-main-content {
    height: $main-row-height;
}

.height-main-row {
    height: $main-content-height;
}

.toast-container{
    bottom: 15%;
    right: 37%;
}