<div class="grid bg-dark rounded-2">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link d-flex align-item-center" routerlink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <fa-icon icon="home" class="nav-icon pe-3"></fa-icon>
                <div>Home</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-item-center" routerlink="/search" routerLinkActive="active">
                <fa-icon icon="search" class="nav-icon pe-3"></fa-icon>
                <div>Search</div>
            </a>
        </li>
    </ul>
</div>